.cart {
    margin-top: 80px;
    background: #FBF6E9;
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    white-space: nowrap;
  }

  .cart ul {
    margin-top: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        250px,
        1fr
      )
    );
    gap: 1rem;
  }
  
  .cart img {
    aspect-ratio: 16/9;
    width: 100%;
  }
  
  .cart li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
  }
  
  .cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .cart footer button {
    padding: 8px;
  }
  
  .cart-button {
    align-items: center;
    background: transparent;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 42px;
    justify-content: center;
    right: 40px;
    top: 20px;
    transition: all .3s ease;
    width: 42px;
    z-index: 9999;
    background-image: url('../assets/store-solid-240.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .cart-button:hover {
    transform: scale(1.1);
  }
  
  .cart-button ~ input:checked ~ .cart {
    height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 940px) {
    .cart {
      width: 100%;
    }
    .cart-button {
      right: 20px;
      top: 20px;
    }
  }