:root{
  --green-past: #118B50;
  --green-past-light: #5DB996;
  --card-background: #FBF6E9;
  --background-section: #E3F0AF;

}
.main{
  padding-top: 80px;
}

.ov-productSection{
  margin-top: 80px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EEEEEE;
  overflow-y: scroll;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  white-space: nowrap;
}

.ov-productSection-title{
  margin: 20px 30px;
  width: fit-content;
  font-weight: 500;
  font-family: serif;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.ov-productSection-carrousel{
  width: 80%;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        150px,
        1fr
      )
    );
    gap: 2rem;
margin-bottom: 20px;

    
}


.ov-productCard{
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  /* width: 200px;
  height: 250px; */
  color: black;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);  
  transition: all 0.5s ease;
  gap: 10px;
  text-align: center;
}

.ov-productCard:hover{
  outline: 1px solid var(--green-past);
}

.ov-productCard-img {
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.ov-productCard-name {
  
  color: #222;
  font-size: 15px;
  font-weight: 500;
}

.ov-productCard-info{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.ov-productCard-info .precio{
  color: var(--green-past);
  font-weight: 500;
}

.ov-productCard-shoping{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: transparent;
  box-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.3);
}



.ov-productCard-shoping-more{
  display: none;
  background-color: transparent;
  border: none;
}
.ov-productCard-shoping-less{
  display: none;
  background-color: transparent;
  border: none;
}

.ov-productCard-shoping-more.is-shoping {
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(./assets/icons8-add-48.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ov-productCard-shoping-less.is-shoping {
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(./assets/less.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 500px){
  .ov-productSection-carrousel {
    width: 60%;
  }
}